<div class="col-sm-3">
  <h4>投稿者</h4>
   <table class= "table">
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>所属軍</th>
          <th><%= user.bushou.bushou_name %></th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <a>
        <%= link_to users_information_edit_path, class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      </a>
    </div>

    <a>推しについて投稿しよう！</a>
    <%= form_with model: Post.new do |f| %>
      <div class="form_group">
        <a>武将選択</a>
        <%= f.collection_select :bushou_id,  Bushou.all, :id, :bushou_name %>
      </div>

      <div class="form-group">
          <a>画像</a>
          <%= f.file_field :image, accept: "image/*", placeholder: "ファイルを選択" %>
      </div>

      <div class="form-group">
        <a>タイトル</a>
        <%= f.text_field :title,  class: "form-control" %>
      </div>

      <div class="form-group">
        <a>本文</a>
        <%= f.text_area :body,  class: "form-control" %>
      </div>

      <div class="form-group">
        <a>投稿する</a><br>
        <%= f.submit '攻め入る!', class: "btn btn-outline-success btn-block" %>
      </div>
    <% end %>
    </div>
</div>
