<div class="container mt-5">
  <div class= "row">
    <div class="col-md-8 offset-2 text-center">
      <%= form_with model: @post, url: post_path, method: :patch do |f| %>
      <h4 class="mb-5">合戦内容の編集</h4>
      <div class="form-group w-50 d-inline-block text-left">
        <div class="mt-2">
          <label style="margin-left: 10px;margin-right: 130px">ユーザー名</label>
          <%= @post.user.name %>
        </div>
        <div class="mt-2">
          <label style="margin-left: 10px;margin-right: 160px">所属軍</label>
          <%= @post.user.bushou.bushou_name %>
        </div>
        <div class="mt-2">
          <label style="margin-left: 10px">武将画像</label>
          <%= f.file_field :image, accept: "image/*", placeholder: "ファイルを選択",style:"margin-left: 10px" %>
        </div>
        <div class="mt-2">
          <label style="margin-left: 10px">タイトル</label>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mt-2">
          <label style="margin-left: 10px">本文</label>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="mt-2">
          <%= f.submit "変更を保存", class: "btn btn-outline-success", style:"margin-top: 30px;margin-left:120px" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>