<div class="container mt-5">
  <h3>投稿一覧</h3>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-sm-2">
      <p><%= link_to admin_bushou_path(bushou.id) do %>
         <%= image_tag bushou.get_image(150,150) %>
         <% end %>
      </p>
      <p><%= bushou.id %></p>
      <p><%= bushou.bushou_name %></p>
      
    </div>
    <% end %>
  </div>
  <div class="row ustify-content-center">
    <%= paginate @posts %>
  </div>
  
</div>