<div class="container mt-5">
  <h4 class="mb-5">投稿詳細</h4>
  <div class= "row text-senter">
    <div class="col-mb-4">
      <%= image_tag @post.get_image(200,200) %>
    </div>
    <div class= "col-md-8 text-left">
      <div class="mt-4 mb-3">
        <label>投稿日時：</label>
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </div>
      <div class="mb-4">
        <label>投稿者名：</label>
        <%= link_to @user.name, admin_user_path(@user.id), style:"margin-left 30px" %>
      </div>
      <div class="mb-4">
        <label class="ml-3">所属軍：</label>
        <%= @user.bushou.bushou_name %>
      </div>
      <div class="mb-4">
        <label>タイトル：</label>
         <%= @post.title %>
      </div>
      <div class="mb-4">
         <label>投稿内容：</label>
        <%= @post.body %>
      </div>
      <%= link_to "削除", admin_post_path(@post.id),  method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger", style:"margin-left: 90px" %>
    </div>
  </div>
</div>