<div class="container mt-5">
<h4><strong>本当に寝返りますか？</h4></strong>
  <div class="row">
  <%= form_with model: @user, url: users_betrayed_path, method: :patch do |f| %>
    <div class="form_group">
      <%= f.label "所属軍"%>
      <%= f.collection_select :bushou_id,  Bushou.all, :id, :bushou_name %>
    </div>
    <div class="row">
      <%= link_to "寝返らない", users_my_page_path, class: "btn btn-primary" %>
      <%= f.submit "寝返る" %>
    </div>
  <% end %>
  </div>
</div>
