<p id="notice"><%= flash[:notice] %></p>
<div class="container mt-5">
<%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
  <div class= "row">
    <div class="col-md-8 offset-2 text-center">
      <h4 class="mb-5"><%= @user.name %>殿の会員情報編集</h4>
      <div class="form-group w-50 d-inline-block text-left">
        <label class="pt-3">所属軍</label>
        <%= @user.bushou.bushou_name %>
        <label class="pt-3">ユーザー名</label>
        <%= f.text_field :name, class: "form-control" %>
        <label class="pt-3"> メールアドレス</label>
        <%= f.email_field :email, class: "form-control" %>
        <div class="mt-4">
          <%= f.submit "変更を保存", class: "btn btn-success", style:"margin-left: 60px" %>
          <%= link_to "寝返る", users_betray_path, class: "btn btn-danger", style:"margin-left: 60px" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>