<p id="notice"><%= flash[:notice] %></p>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <h4>会員情報</h4>
      <div class="mt-4 mb-2">
        <table class= "table">
          <tbody>
            <tr>
              <td>ユーザー名</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>所属軍</td>
              <td><%= @user.bushou.bushou_name %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pt-3 border-top">
        <% if @user == current_user %>
        <label class="mr-4">メールアドレス</label>
          <%= @user.email %>
        <div class="pt-3 pb-3 border-top">
          <%= link_to "編集する", users_information_edit_path, class: "btn btn-success" %>
          <%= link_to "退会する", users_unsubscribed_path, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
      <div class="pt-3">
        <%= link_to "♡お気に入り記事", favorites_user_path(user_id: @user.id) %>
      </div>
    </div>

    <div class="col-md-8 offset-1">
      <h4>投稿履歴</h4>
      <div class="pt-3">
        <table class= "table">
          <thead>
            <tr>
              <th class="text-nowrap pr-lg-5">武将名</th>
              <th class="text-nowrap pr-lg-5">タイトル</th>
              <th class="text-nowrap pr-lg-5">本文</th>
            </tr>
          </thead>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.bushou.bushou_name %></td>
              <td><%= post.title%></td>
              <td><%= post.body %></td>
            </tr>
            <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


