<div class="container mt-5">
  <h4>マイページ</h4>
  <div class="row">
    <div class="col sm-2">
      <h5>所属軍</h5>
      <h5>ユーザー名</h5>
      <h5>メールアドレス</h5>
    </div>
    <div class="col sm-10">
      <%= @user.bushou_name %>
      <%= @user.name %>
      <%= @user.email %>
    </div>
  </div>
  <%= link_to "編集する", users_information_edit_path, class: "btn btm-success" %>
  <%= link_to "退会する", users_unsubscribed_path, class: "btn btn-danger" %>
</div>

