<!DOCTYPE html>
<html>
  <head>
    <title>推しヶ原の戦い</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--FontAwesomeの導入 -->
    <script src="https://kit.fontawesome.com/43ea173fb6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <body class="d-flex flex-column vh-100">
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="/">
              <span>推しヶ原の戦い</span>
            </a>
            <button class="navbar-toggler" type="button" date-toggle="collapse" data-target="#navbarNavDropdown" aria-controls= "navbarNavDropdown" aria-expanded="false" arialabel="Toogle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse show" id="navbarNavDropdown">

              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                <!--会員がログインしていたら-->
                    <il class="pr-2">
                      <a class="text-white navbar-brand">ようこそ<%= current_user.name %>さん</a>
                    </il>
                    <il class="pr-3">
                        <%= link_to "マイページ", user_path(current_user), class: "text-white" %>
                    </il>
                    <il class="pr-3">
                        <%= link_to "武将一覧", bushous_path, class: "text-white" %>
                    </il>
                    <il class="pr-3">
                        <%= link_to "投稿一覧", posts_path, class: "text-white" %>
                    </il>
                    <li class="pr-3">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
                    </li>

                <% elsif admin_signed_in? %>
                <!--管理者がログインしていたら-->
                    <il class="pr-2">
                        <%= link_to "武将一覧", admin_bushous_path, class: "btn btn-outline-info" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-info" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "投稿履歴", admin_path, class: "btn btn-outline-info" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "コメント履歴", admin_comments_path, class: "btn btn-outline-info" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-info" %>
                    </il>

                <% else %>
                <!--ログインしていなかったら-->
                    <il class="pr-2">
                        <%= link_to "このサイトについて", about_path, class: "btn btn-outline-secondary" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "武将一覧",  bushous_path, class: "btn btn-outline-secondary" %>
                    </il>
                    <il class="pr-2">
                        <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-secondary" %>
                    </il>
                    <li class="pr-2">
                        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
                    </li>
                    <li class="pr-2">
                        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary" %>
                    </li>
                <% end %>
              </ul>

            </div>
          </div>
        </nav>
      </header>
      <div class="post_search mt-3 mb-4">
        <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, placeholder: "キーワード検索"  %>
          <%= f.submit '検索', class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
      <%= yield %>
    </body>
  </header>
</html>
